@import 'color';

nav {
    .backgroundImage {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    .booksCover{
        position: absolute;
        top: 30%;
        width: 100%;
        height: 100%;

        button {
            position: absolute;
            text-align: center;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            -webkit-appearance: none; /* for Chrome and Safari */
            -moz-appearance: none;    /* for Firefox */
            appearance: none;         /* standard syntax */
        }

        .naissanceBox{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 29vw;
            left:38vw;

            p{
                color: black;
                font-size: 24px;
                padding-top: 70px;
                height: 100px;
                opacity: 0.3;
                transition: opacity 0.3s ease;
                &:hover{
                    opacity: 1;
                }
            }
        }

        .confessionBox{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 41vw;
            left:44vw;

            p{
                color: black;
                font-size: 24px;
                padding-top: 60px;
                width: 90px;
                height: 150px;
                opacity: 0.3;
                transition: opacity 0.3s ease;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}