@font-face {
  font-family: 'Avera';
  src: url('./AveraSansTC-Sketch.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1E1E1E;
  margin: 0;
  font-family: 'Avera', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
